<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.walker.part.mapper.BusinessInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.walker.part.entity.BusinessInfo">
        <id column="business_id" property="businessId" />
        <result column="username" property="username" />
        <result column="gender" property="gender" />
        <result column="phone" property="phone" />
        <result column="card_no" property="cardNo" />
        <result column="store_type" property="storeType" />
        <result column="store_name" property="storeName" />
        <result column="papers_type" property="papersType" />
        <result column="papers_number" property="papersNumber" />
        <result column="papers_img" property="papersImg" />
        <result column="status" property="status" />
        <result column="logic_delete" property="logicDelete" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
        <result column="pass_user_id" property="passUserId" />
        <result column="pass_user_name" property="passUserName" />
        <result column="pass_time" property="passTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        business_id, username, gender, phone, card_no, store_type, store_name, papers_type, papers_number, papers_img, status, logic_delete, create_user_id, create_user_name, create_time, update_user_id, update_user_name, update_time, pass_user_id, pass_user_name, pass_time
    </sql>

</mapper>
