<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.walker.part.mapper.UserFansMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.walker.part.entity.UserFans">
        <id column="fans_id" property="fansId" />
        <result column="from_id" property="fromId" />
        <result column="to_id" property="toId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fans_id, from_id, to_id, create_time
    </sql>

</mapper>
